version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: budget-db
    environment:
      POSTGRES_DB: budgetdb
      POSTGRES_USER: ${SPRING_DATASOURCE_USERNAME}
      POSTGRES_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: budget-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: budget-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
